<h1><%= @user.name.titleize %></h1>

<h2>Planets</h2>
<table class="table">
	<% @user.planets.each do |planet| %>
		<tr>
			<td><%= link_to planet.name.titleize, planet_path(planet) %></td>
			<% if planet.user == current_user %>
				<td><%= link_to 'Edit', edit_planet_path(planet) %></td>
				<td><%= link_to 'Destroy', planet, method: :delete, data: { confirm: 'Are you sure?'} %></td>
			<% end %>
		</tr>
	<% end %>
</table>