<h1><%= @user.name.titleize %></h1>

<h2>Planets:</h2>
<ul class="list-group">
	<% @user.planets.each do |planet| %>
		<li class="list-group-item"><%= link_to planet.name.titleize, planet_path(planet) %></li>
	<% end %>
</ul>