<table>
	<tr>
		<th>Planet</th>
		<th>Owner</th>
		<th>Price</th>
	</tr>
	<% @planets.each do |planet| %>
		<tr>
			<td><%= link_to planet.name, planet_path(planet) %></td>
			<td><%= planet.user.name %></td>
			<td><%= planet.price * 1000 %></td>
		</tr>
	<% end %>	
</table>
