<div class="jumbotron">
	<h1>Available Features</h1>

	<button id="show-features" class="btn btn-default">View Available Features</button>
	
	<ul class="list-group">
		<% @features.each do |feature| %>
			<tr>
				<li class="list-group-item"><%= link_to feature.name.titleize, feature_path(feature) %></li>
			</tr>
		<% end %>
	</ul>
</div>