<div class="jumbotron">
	<h1>Available Features</h1>
	
	<ul class="list-group">
		<% @features.each do |feature| %>
			<tr>
				<li class="list-group-item"><%= link_to feature.name.titleize, feature_path(feature) %></li>
			</tr>
		<% end %>
	</ul>
</div>