<div class="row">
	<div class="jumbotron col-md-6">
		<h1><%= @feature.name %></h1>
		<p><%= @feature.description %></p>
	</div>
	
	<div class="col-md-6">
		<%= image_tag @feature.name.parameterize, :class => "img-rounded img-responsive" %>
	</div>
</div>