<div class="row">
	<div class="jumbotron col-md-6">
		<h1><%= @feature.name.titleize %></h1>
		<p><%= @feature.description %></p>
	</div>
	
	<div class="col-md-6">
		<%= image_tag @feature.name.parameterize, :class => "img-rounded img-responsive" %>
	</div>

</div>

<div class="row">
	<button class="btn btn-default"><%= link_to 'Show all orders for this feature', feature_orders_path(@feature), :class => "show-orders" %></button>
	
	<button id="next-feature" class="btn btn-default">Next</button>
</div> <br>

<div class="orders-list">
	<table class="table">
		<tr>
			<th>Order ID</th>
			<th>Feature</th>
			<th>Planet</th>
			<th>Size (fy sq.)</th>
			<th>Price (Pu)</th>
			<th>Customer</th>
			<th>Customer Email</th>
		</tr>
	</table>
</div>